.header-text {
  color: var(--text-primary);
  font-size: 1.8em;
}

.secondary-text {
  color: var(--text-primary);
  font-size: 1.6em;
  padding: 0 2em;
}

.chat-container {
  display: grid;
  grid-template-columns: 35em 1fr;
  height: 100%;
  .chat-list-container {
    padding: 3.2em 0;
    border-right: 1px solid var(--border-primary);
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    height: 100%;
    .user-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2em;
    }

    .form {
      position: relative;
      display: flex;
      padding: 0 2em;
      .icon-container {
        position: absolute;
        --size: 1.8em !important;
        --color: var(--text-secondary);
        top: 50%;
        transform: translateY(-50%);
        left: 4em;
      }
      input {
        background-color: var(--bg-secondary);
        color: #fff;
        font-size: 1.6em;
        border-radius: 100vh;
        border-width: 0;
        outline: unset;
        padding: 0.8em 2em;
        padding-left: 3em;
        width: 100%;
      }
    }

    .user-notes-list {
      display: flex;
      gap: 1em;
      overflow-x: auto;
      padding: 0 2em;
      .note-item {
        --size: 7.4em;
        height: var(--size);
        width: var(--size);
        flex: 0 0 var(--size);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border-primary);
        background: var(--accent);
        border-radius: 50%;
      }
    }

    .chat-list {
      .chat-item {
        .chat-link {
          cursor: pointer;
          padding: 1em 2em;
          display: grid;
          grid-template-columns: 5.6em 1fr;
          column-gap: 1em;
          row-gap: 0.5em;
          &:hover {
            background-color: var(--bg-secondary);
          }
          &.active {
            background-color: var(--border-primary);
          }
          .img-container {
            aspect-ratio: 1 / 1;
            background-color: #ddd499;
            border-radius: 50%;
            grid-row: 1 / span 2;
            grid-column: 1;
            align-self: center;
          }
          .name {
            grid-column: 2;
            grid-row: 1;
            color: #fff;
            font-size: 1.6em;
            display: flex;
            align-items: end;
          }
          .message {
            grid-column: 2;
            grid-row: 2;
            color: var(--text-secondary);
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .chat-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    .chat-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em 2em;
      border-bottom: 1px solid var(--border-primary);

      .chat-user {
        display: grid;
        grid-template-columns: 4.5em 1fr;
        row-gap: 0.5em;
        column-gap: 1em;
        .img-container {
          aspect-ratio: 1 / 1;
          background-color: #ddd499;
          border-radius: 50%;
          grid-row: 1 / span 2;
          grid-column: 1;
          align-self: center;
        }
        .name {
          font-size: 1.8em;
          color: #fff;
          display: flex;
          align-items: end;
        }
        .user_name {
          font-size: 1.4em;
          color: var(--text-secondary);
        }
      }

      .chat-user-actions {
        display: flex;
        align-items: center;
        gap: 2em;
      }
    }
    .chat-messages-list {
      overflow-y: auto;
      padding: 2em;
      display: flex;
      flex-direction: column;
      gap: 2em;
      height: calc(100vh - 15.5em);
      &.reply-message {
        height: calc(100vh - 21.5em);
      }
      &.edit-message {
        height: calc(100vh - 20em);
      }
    }
    .chat-input {
      padding: 2em 0;
      display: flex;
      flex-direction: column;
      gap: 1em;
      .reply-message-details {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2.4em;
        gap: 0.5em;
        padding: 0 2em;
        border-top: 1px solid var(--border-primary);
        padding-top: 1em;
        .replying-to {
          grid-column: 1;
          grid-row: 1;
          color: #fff;
          font-size: 1.5em;
          font-weight: 400;
          .user-name {
            text-transform: capitalize;
            font-weight: 500;
          }
        }
        .reply-message {
          color: var(--text-secondary);
          font-size: 1.4em;
          grid-column: 1;
          grid-row: 2;
        }
        button.remove-reply {
          grid-column: 2;
          grid-row: 1 / span 2;
          &.icon-container {
            --size: 1.8em;
          }
        }
      }
      .form {
        position: relative;
        display: flex;
        padding: 0 2em;
        .icon-container {
          position: absolute;
          --color: var(--text-secondary);
          top: 50%;
          transform: translateY(-50%);
          left: 4em;
        }
        input {
          background-color: var(--bg-secondary);
          color: #fff;
          font-size: 1.6em;
          border-radius: 100vh;
          border-width: 0;
          outline: unset;
          padding: 0.8em 2em;
          padding-left: 3.2em;
          width: 100%;
          border: 1px solid var(--text-secondary);
        }
      }
    }
  }
}

dialog {
  &.unsend-dialog {
    width: 100vw;
    height: 100vh;
    background-color: unset;
    &[open] {
      display: grid;
      place-items: center;
      &::backdrop {
        background-color: rgba(0, 0, 0, 0.72);
      }
    }
    .inner-container {
      display: flex;
      flex-direction: column;
      background-color: var(--bg-secondary);
      padding: 2em 0;
      padding-bottom: 0;
      border-radius: 2em;
      color: var(--text-primary);
      width: min(90%, 45em);
      gap: 1.2em;
      .unsend-title {
        font-size: 1.8em;
        font-weight: 400;
        text-align: center;
        padding: 0 3.2em;
      }
      .message {
        font-size: 1.5em;
        text-align: center;
        padding: 0 3.2em;
      }
      .actions {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        button {
          border-top: 1px solid var(--border-primary);
          padding: 1em;
          text-align: center;
          font-size: 1.6em;
          color: #fff;
          &.unsend {
            color: #d3163c;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .chat-container {
    grid-template-columns: 9.5em 1fr;
    .chat-list-container {
      .user-details {
        justify-content: center;
        h2 {
          display: none;
        }
      }
      .form {
        display: none;
      }
      .user-notes-list {
        display: none;
      }
      .messages-title-text {
        display: none;
      }
      .chat-list {
        .chat-item {
          .chat-link {
            grid-template-columns: 5.6em;
            .name,
            .message {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .chat-container {
    .chat-content {
      .chat-messages-list {
        height: calc(100vh - calc(15.5em + 5.5em));
        &.reply-message {
          height: calc(100vh - calc(21.5em + 5.5em));
        }
        &.edit-message {
          height: calc(100vh - calc(20em + 5.5em));
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .chat-container {
    grid-template-columns: 1fr;
    .chat-list-container {
      display: none;
    }
    .chat-list {
      display: none;
    }
  }
}
