<div class="wrapper base-wrapper">
  <aside class="sidenav-container">
    <a href="/" class="brand">
      <span class="icon-container">
        <lucide-angular [img]="logo"></lucide-angular>
      </span>
    </a>

    <ul class="sidenav-list">
      @for(nav of navList; track nav.id){
      <li class="nav-item" [class]="nav.name" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="nav.link" class="nav-link">
          <span class="icon-container">
            <lucide-angular [img]="nav.icon"></lucide-angular>
          </span>
        </a>
      </li>
      }
    </ul>

    <ul class="sidenav-list">
      @for(nav of bottomNavList; track nav.id){
      <li class="nav-item" [class]="nav.name" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="nav.link" class="nav-link">
          <span class="icon-container">
            <lucide-angular [img]="nav.icon"></lucide-angular>
          </span>
        </a>
      </li>
      }
    </ul>
  </aside>
  <main class="main-content">
    <router-outlet />
  </main>
</div>
