.message-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  position: relative;
  &.justify-start {
    justify-content: start;
    .reply-message {
      margin-right: unset;
      margin-left: 3.5em;
      &:after {
        left: -1em;
        right: unset;
      }
    }
    .actions {
      .emoji-btn {
        .base-emoji-list {
          /* left: 0; */
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .more-opts-btn {
        .more-opts-list {
          /* left: 100%; */
          left: 50%;
          transform: translateX(-70%);
        }
      }
    }
    .message-emoji {
      left: 4em;
    }
  }
  &.justify-end {
    justify-content: end;
    .message-container {
      justify-content: flex-end;
    }

    .message {
      order: 2;
    }
    .actions {
      order: 1;
      .emoji-btn {
        order: 2;
        .base-emoji-list {
          /* right: 0; */
          left: 50%;
          transform: translateX(-70%);
        }
      }
      .more-opts-btn {
        .more-opts-list {
          /* right: 2em; */
          left: 50%;
          transform: translate(-50%);
        }
      }
      .reply {
        order: 1;
      }
    }
    .message-container,
    .message-grp {
      order: 2;
    }
    .message-grp {
      align-items: flex-end;
    }
    .message-emoji {
      right: 0;
    }
  }
  .img-container {
    --size: 2.8em;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ddd499;
  }
  .reply-message {
    background-color: var(--border-primary);
    position: relative;
    margin-left: unset;
    margin-right: 1em;
    font-size: 1.4em;
    &:after {
      content: '';
      height: 100%;
      width: 0.25em;
      background-color: var(--border-primary);
      position: absolute;
      right: -1em;
      left: unset;
      top: 0;
      bottom: 0;
    }
  }
  .message {
    background-color: var(--accent);
    font-size: 1.6em;
    overflow-wrap: break-word;
  }
  .message,
  .reply-message {
    padding: 0.55em;
    border-radius: 1.5em;
    color: #fff;
    max-width: 50vw;
  }

  .message-grp {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .message-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .message-emoji {
    position: absolute;
    --size: 2.4em;
    width: var(--size);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(100% - calc(var(--size) / 2));
    background-color: var(--border-primary);
    border-radius: 100vh;
    &:after {
      content: var(--message-emoji, '');
      position: absolute;
      font-size: 1.6em;
    }
  }

  .actions {
    display: none;
    gap: 0.5em;
    .icon-container {
      --size: 2em;
    }
    .emoji-btn {
      /* position: relative; */
      .base-emoji-list {
        padding: 1em 1.4em;
        border-radius: 100vh;
        background-color: var(--border-primary);
        gap: 0.5em;
        position: absolute;
        list-style-type: none;
        z-index: 999;
        &.show {
          display: flex;
        }
        &.hide {
          display: none;
        }
        .base-emoji-item {
          position: relative;
          --size: 3.2em;
          width: var(--size);
          aspect-ratio: 1 / 1;
          display: flex;
          align-items: center;
          justify-content: center;
          &:after {
            content: var(--emoji-code);
            position: absolute;
            font-size: var(--size);
          }
          &:hover {
            &:after {
              scale: 1.12;
              transition: scale 200ms ease-in;
            }
          }
          &:last-child {
            background-color: var(--bg-primary);
            color: #fff;
            border-radius: 50%;
            > * {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
    .more-opts-btn {
      position: relative;
      .more-opts-list {
        &.show {
          display: flex;
          z-index: 999;
        }
        display: none;
        flex-direction: column;
        list-style-type: none;
        position: absolute;
        top: 100%;
        .more-opt-item {
          padding: 0.5em 0.95em;
          font-size: 1.4em;
          color: var(--text-primary);
          background-color: var(--bg-secondary);
          min-width: 8em;
          &:hover {
            background-color: var(--border-primary);
          }

          &:nth-child(even) {
            border-bottom: 1px solid var(--border-primary);
            border-top: 1px solid var(--border-primary);
          }

          &:first-child {
            border-top-left-radius: 0.8em;
            border-top-right-radius: 0.8em;
          }
          &:last-child {
            border-bottom-left-radius: 0.8em;
            border-bottom-right-radius: 0.8em;
          }
        }
      }
    }
  }

  &:hover,
  &:has(.actions .emoji-btn .base-emoji-list.show),
  &:has(.actions .more-opts-btn .more-opts-list.show) {
    .actions {
      display: flex;
    }
  }
}

@media screen and (max-width: 370px) {
  .message-item {
    &.justify-end{
      .actions {
        .emoji-btn {
          .base-emoji-list{
            transform: translateX(-60%);
          }
        }
      }
    }
  }
}
