<li class="message-item" [class]="message()!.type == 'received' ? 'justify-start' : 'justify-end'" >
 
  @if(message()!.reply){
    <div class="message-grp">
      <p class="reply-message">{{message()!.reply?.message}}</p>
      <div class="message-container">
        @if(message()!.type == 'received'){
          <span class="img-container"></span>
        }
        <p class="message">{{ message()!.message }}</p>
        <div class="actions">
          <div class="emoji-btn">
            <button type="button" class="icon-container react" (click)="getBaseEmojis()">
              <lucide-angular [img]="emoji"></lucide-angular>
            </button>
            <ul class="base-emoji-list" [class]="showBaseEmojiList ? 'show' : 'hide'" >
              @for(emoji of baseEmojiList; track $index){
              <li class="base-emoji-item" [style.--emoji-code]="`'${emoji}'`" (click)="addEmoji(emoji)"></li>
              }
              <li class="base-emoji-item">
                <lucide-angular [img]="plus"></lucide-angular>
              </li>
            </ul>
          </div>

          <button type="button" class="icon-container reply" (click)="handleReplyMessage(message()!)">
            <lucide-angular [img]="reply"></lucide-angular>
          </button>
        </div>
        @if(message()!.emoji){
          <button type="button" class="message-emoji" [style.--message-emoji]="`'${message()!.emoji}'`" (click)="removeEmoji()"></button>
        }
      </div>
    </div>
  }@else {
    <div class="message-container">
      @if(message()!.type == 'received'){
        <span class="img-container"></span>
      }
      <p class="message">{{ message()!.message }}</p>
      <div class="actions">
        <div class="emoji-btn">
          <button type="button" class="icon-container react" (click)="getBaseEmojis()">
            <lucide-angular [img]="emoji"></lucide-angular>
          </button>
          <ul class="base-emoji-list" [class]="showBaseEmojiList ? 'show' : 'hide'" >
            @for(emoji of baseEmojiList; track $index){
            <li class="base-emoji-item" [style.--emoji-code]="`'${emoji}'`" (click)="addEmoji(emoji)"></li>
            }
            <li class="base-emoji-item">
              <lucide-angular [img]="plus"></lucide-angular>
            </li>
          </ul>
        </div>

        <button type="button" class="icon-container reply" (click)="handleReplyMessage(message()!)">
          <lucide-angular [img]="reply"></lucide-angular>
        </button>
      </div>
      @if(message()!.emoji){
        <button type="button" class="message-emoji" [style.--message-emoji]="`'${message()!.emoji}'`" (click)="removeEmoji()"></button>
      }
    </div>
  }
</li>
